
* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body {
    background-color: #16181aa6;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 3;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 1.4rem;
    padding: 10px;
    color: aliceblue
}

li {
    display: list-item;
    cursor: pointer;
}

.titlu{
    text-align: center;
    color: aliceblue;
    margin-top: 200px;
    z-index: 2;
    position: relative;
}

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #211c1c; /* Set a background color */
}

