
* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

body {
    background-color: #060d15;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 200%;
    overflow: auto;
    position: relative;
}

/*nav bar*/

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
}

/*nav right*/

.nav-list {
    list-style: none;
    display: flex;
    gap: 1.4rem;
    padding: 10px;
    color: aliceblue;
    user-select: none;
    -webkit-user-select: none;
}

.nav-item a {
    color: aliceblue;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.nav-item a:hover {
    color: #e92c7c;
}

li {
    display: list-item;
    cursor: pointer;
}

/*nav-left*/

.left{
    justify-content: flex-end;
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
}

.logo {
    display: flex;
  }
  
  .box {
    width: 30px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #fff;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor:default;
    position: relative;
    background: #060d1500;
    overflow: hidden;
  }
  
  .box:before {
    content: "D";
    position: absolute;
    top: 0;
    background: #e92c7b;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
    transition: transform .5s;
  }
  
  .box:nth-child(2)::before {
    transform: translateY(-100%);
    content: 'E';
  }
  
  .box:nth-child(3)::before {
    content: 'S';
  }
  
  .box:nth-child(4)::before {
    transform: translateY(-100%);
    content: 'I';
  }
  
  .box:nth-child(5)::before {
    content: 'G';
  }

  .box:nth-child(6)::before {
    transform: translateY(-100%);
    content: 'N';
  }
  
  .logo:hover .box:before {
    transform: translateY(0);
  }


/*title*/

.titlu{
    text-align: center;
    color: aliceblue;
    margin-top: 200px;
    z-index: 2;
    position: relative;
    cursor:help;
    user-select: none;
    -webkit-user-select: none;
}

/*background*/

#particles-js {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #060d15;
}

/*scrollbar*/

 ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #060d15;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: #060d15;
  }

  .scroll-container {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

/*projects img*/

.img_container {
    display: grid;
    place-items: center;
    overflow: hidden;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
}

.scroll-img {
    transform: scale(0);
    opacity: 0;
    max-width: 800px;
    max-height: 600px;
    z-index: 3;
}

/*down arrow*/

.arrow{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
}

.arrow-down{
    position:relative;
    margin-top: 200px;
    width: auto;
    height: 45px;
    z-index: 3;
    display: flex;
}

/*see more text*/

.more{
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
    overflow:visible;
}

.seeMore{
    position: relative;
    z-index: 3;
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    transition: text-shadow 0.3s ease-in-out;
}

.seeMore:hover {
    text-shadow: 0 0 100px #e92c7b, 0 0 20px #e92c7b, 0 0 30px #e92c7b, 0 0 40px #e92c7b, 0 0 50px #e92c7b, 0 0 60px #e92c7b, 0 0 70px #e92c7b;
}

/*about me*/
.me-title{
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction:column;
    width: 100%;
    align-items: center;
    background-color: #e92c7b3b;
}

.whoAmI{
    z-index: 3;
    color: aliceblue;
    font-size: 2rem;
    margin: 50px;
}

.me{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    align-items: center;
    overflow: hidden;
}

.meImg{
    transition: transform 0.5s ease;
    object-fit: cover;
    top: 0;
}

.photoBackground{
    z-index: 2;
    transform: translateX(0%);
}

.me-photo{
    z-index: 3;
    transform: translateX(100%);
}

.me-text{
    margin-top: 50px;
    padding-right: 100px;
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    color: #fff;
    font-size: 1.5rem;
    z-index: 3;
}

.me-img{
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    z-index: 3;
}

/*footer*/
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer-text{
    color: aliceblue;
    font-size: 1rem;
    z-index: 3;
}